html, body{
  height: 100%;
}
#root{
  height: 100%;
}
.app{
  height: 100%;
  color:#333;  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background: #282c34;
}